/* PHASE 4: Footer */

.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 902px;
  margin: auto;
  padding: 10px;
  box-sizing: border-box;
  background: white;
  border: 1px solid #ccc;
  border-top: 0;
  font-size: 14px;
}

.footer-links {
  display: flex;
  justify-content: space-around;
}

.footer-links > li {
  padding: 10px;
  color: darkgray;
}

.footer-links > li > a:hover {
  color: black;
}

.copyright {
  padding: 10px;
  color: darkgray;
}