body {
    font-family: Arial, sans-serif;
    background-color: peachpuff;
}

h1 {
    font-size: 38px;
}

h2 {
    font-size: 32px;
}

header > img {
    width: 100px;
}

ul li a {
    text-decoration: none;
    color: inherit;
}

.ingredients-list {
    list-style: square inside;
}

.directions-list {
    list-style: circle inside;
}

.user_review {
    font-style: italic;
}