/* PHASE 2: Notifications */

.badge {
  display: inline;
  font-size: 14px;
  padding: 2px 6px;
  background: black;
  border-radius: 50%;
}

.header-list > li:first-of-type {
  position: relative;
}

.notification-dropdown {
  position: absolute;
  display: none;
  background: white;
  color: black;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border: 1px solid #ccc;
  left: -1px;
}

.header-list > li:first-of-type:hover .notification-dropdown {
  display: block;
}

.notification-dropdown li {
  display: block;
  padding: 10px, 20px;
  white-space: nowrap;
}